@import "tailwindcss";

:root {
    --background: #eeeeee;
    --foreground: #171717;
    --primary: #ffbb00;
    --gray: #eeeeee;
    --white: #eeeeee;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-gray: var(--gray);
    --color-white: var(--white);
}

body {
    background: var(--background);
    color: var(--foreground);
}

/* Hide scrollbar globally */
* {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

*::-webkit-scrollbar {
    display: none;
}
